.App {
  text-align: center;
}

#song-image{
  size:1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: white;}

  .topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #37C1A8;
  color: white;
}

.results {
  background-color: #37C1A8;
  display: 'grid';
}

.youtube-frame {
  display: inline;
  align-content: right;
}

#star-saver{
  cursor: default;
  font-size: 30px;
  /* top: -100; */
}
#add-song {
   cursor: default;
  font-size: 20px;
}
.query-summary{
  display: inline-block;
}
.results{
  margin-left: 100px;
  margin-right: 100px;
}
#back-to-search{
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 3000;    
}
.home{
  background-color: #282c34;
}
.inline-playlist-card{
 display: inline-block;
}
#modal{
  height: 20;
  width: 20;
}
#next-page-button{
  margin-left: 500px;
}
.title-and-image-block{
  display: inline-block;
}
#song-image-container{
    /* margin-left: 50px; */
    height: '40px';
    width: '40px';
}
#playlist-image{
  display: block;
}

.in-line-playlist{
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.playlist-card-container{
  display: inline-flex;
  width: 100%;
}
html{
  background-color: #282c34;
}

.white-text{
  color: white;
}
.blue-text{
  color: blue;
}

.featured-container{
  background-color: #37C1A8
}

#add-song {
  font-size: 60px;
}

.playlist-image {
  margin: 2px;
}

.card {
  margin: 15px;
}

.error-image{
  size: 400px;
  width: 400px
}

#no-results-div{
  /* position: absolute; */
  /* top: -40; */
  /* left: 100; */
}
